::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: normal;
}
::-webkit-input-placeholder:focus {
  font-weight: 700;
}
:-moz-placeholder {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: normal;
}
::-moz-placeholder {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: normal;
}
:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: normal;
}
::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: normal;
}

@media screen and (min-width: 400px){
  ::-webkit-input-placeholder {
    font-size: 16px;
    letter-spacing: 6px;
  }
  :-moz-placeholder {
    font-size: 16px;
    letter-spacing: 6px;
  }
  ::-moz-placeholder {
    font-size: 16px;
    letter-spacing: 6px;
  }
  :-ms-input-placeholder {
    font-size: 16px;
    letter-spacing: 6px;
  }
  ::-ms-input-placeholder {
    font-size: 16px;
    letter-spacing: 6px;
  }
}
